h1 {
    text-align: center;
    color: #5EA890;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    text-align: center;
    color:gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
background-color:  #EBE089;
}

#wrapper {
    padding-top: 15px;
    text-align: justify;
    text-align: center;
    color:gold;
    background-color: #5EA890;
    width: 30%;
    height:60%;
    box-sizing: border-box;
    box-shadow: #5EA890;
    border-radius: 5%;
    margin: auto;
}

#running {
    padding-top: 15px;
    text-align: justify;
    text-align: center;
    color:gold;
    background-color: #5EA890;
    width:30%;
    box-sizing: border-box;
    box-shadow: #5EA890;
    border-radius: 5%;
    margin: auto;
}