h1 {
    text-align: center;
    color: #5EA890;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    text-align: center;
    color:gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
background-image: url("./astrologie.jpeg");
background-color:#5EA890;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

/*#wrapper {
    padding-top: 15px;
    text-align: justify;
    text-align: center;
    color:gold;
    width: 30%;
    height:60%;
    border-radius: 5%;
    margin: auto;
}*/


.astrologie {
    display: flex;
    justify-content: center;
    margin-top: 25%;
    width: 100%;
    height: 15%;
    border-radius: 5% 5% 5%;
}

button {
    color: rgb(57, 3, 3);
}
.placeholder {
width: 100px;
}
#submit {
    box-sizing: content-box;
    border:groove;
    box-shadow: 5px 5px 5px rgba(255, 166, 0, 0.486);
    background-color: chocolate;
    font-family: 'Times New Roman', Times, serif;
}
