* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-image: url("pngegg.png") no-repeat;
}
.image {
  
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100px;
    position:fixed;
    bottom: 0;
    right: 135%;
    height: 100vh;
}

.menu{
    width:50%;
    height: 50vh;          
    position: absolute;
    padding: 35px;
    top:0px;
    right: 0px;
}
.menu ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
    text-align: right;            
    background:transparent;            
    z-index: 2;
}
.menu ul li{
    list-style: none;
    display : inline-block;
    font-size: 18px;
    font-weight: 500 ;
    color: white;
    cursor: pointer;
    z-index:2;
    transition:color 0.6s;
 }

.menu ul li::after{
    content:'';
    background:black;
    width: 100%;
    height:100%;
    border-radius: 30px ;
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:-1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    
 }

.menu ul li:hover{
    color:white ;
 }

.menu ul li:hover::after{
    top: 50%;
    opacity: 1;
 }
  

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper input[type=text] {
    width: 190px;
    padding: 8px 20px 8px 45px;
    border: white solid 2px;
    font-size: 20px;
    border-radius: 25px;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 40px;
    background-color: transparent;
    transition: 0.5s all ease-in-out;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.wrapper input[type=text]:focus,
.wrapper input[type=text]:not(:placeholder-shown) {
    width: 350px;
    background-color: white;
    filter: brightness(100%);
}
.quotidien {
    background:transparent;
    border: white solid 2px;
    border-radius: 50px;
    font-size: 15px;
    padding: 8px 20px 8px 45px;
    background-size: 25px;
    display:flex;
    flex-direction:column;
    position:absolute;
    bottom: 250px;
    z-index: 2;
    cursor: pointer;
}
.quotidien::after{
    content:'';
    background:white;
    width: 100%;
    height:100%;
    border-radius: 30px ;
    position:absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:-1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;

}
.quotidien:hover{
    color:black ;
}
.quotidien:hover::after{
    top: 50%;
    opacity: 1;
}

.hebdomadaire {
    background:transparent;
    border: white solid 2px;
    border-radius: 50px;
    font-size: 15px;
    background-size: 25px;
    padding: 8px 20px 8px 45px;
    display:flex;
    flex-direction: column;
    position:absolute;
    bottom: 295px;
    z-index: 2;
    cursor:pointer
}
.hebdomadaire::after{ 
    content:'';
    background:white;
    width: 100%;
    height:100%;
    border-radius: 30px ;
    position:absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:-1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
.hebdomadaire:hover{ 
    color:black ;
}
.hebdomadaire:hover::after{ 
    top: 50%;
    opacity: 1;
}

.content {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:center;            
}
.content h1{
    font-size: 220px;
    width: 100%;
    margin-bottom: 40px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    position:absolute;
    bottom: 470px;
    color:white;
    text-shadow: 0 0 8px white;
    line-height: 80px;
    letter-spacing: -1px;
    line-height: 1; 
    text-align: center;
    z-index: 2;
     }

.content p{
    margin: 20px auto;
    font-size: 20px;
    font-family: Helvetica;
    font-weight:100;
    line-height: 25px;
    position:absolute;
    bottom: 420px;
    color: aliceblue;
    z-index: 4;
    text-align: center;
}
.conteneur{
    color:white;
    background: rgb(227,173,219);
    background: linear-gradient(90deg, rgba(227,173,219,1) 25%, rgba(185,127,173,1) 53%, rgba(127,158,186,1) 99%);
    border-color: white solid 2px;    
    position: relative;
    bottom: 175px;
    margin: auto;
    width: 50%;
    height: 20%;
    border-radius: 12px 15px 22px;   
    text-align: justify;
    padding: 12px;        
}
.conteneur::before{
    display:block;
}

.error{
    display:none
}



